@media(max-width: 1100px)  {

    .container{
        height: auto;
    }
    h1{
        font-size: 4vw;
    }
    .top{

        .container {
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: start;
            z-index: 10;
            top: 784px;
            margin-left: 0;
            width: 100%;
            height: auto;
        }
        .slick-slider {
            max-width: 100%;
            width: 100%;
            max-height: 100%;
        }
        .top__slider-img {
            max-width: 100%;
            max-height: 100%;
            width: 95%;       
            height: auto;   
            object-fit: cover;
        }
            
    }
    .mission {
        .container{
            padding-left: 0;
        }
        &__slider {
            position: relative;
            padding: 0;
            margin: 0;
       
        } 
        .slick-slider{
            margin: auto;           
        } 
        .slick-arrow{
            position: absolute;
            transform: scale(0.7, 0.7);
            left: 67%;
          }
          .finger__pointer {
            display: none;
        }  
                     
    }
    .whywe {
        margin: 0;
        position: relative;
        display: flex;
     
       .container {
           position: relative;
            background-color: #17212B;
            display: block;
            width: 100%;
            height: 100%;
            margin: auto;

        }
        &__info {
            margin-right: 8%;
            margin-left: 7%;
            color: #fff;
            text-transform: none;
             width: 70%;
             height: 100%;
            margin: 0 auto;
    
        }
        .slick-arrow{
            transform: scale(0.7, 0.7);
          }
        .finger__pointer {
            display: none;
        }

    }
    .advantages {
        margin-top: 0;
        .container{
            padding-left: auto;
        }
        &__title{
            margin-left: 25%;
        }
    
    }
    .accordion__items{
        .accordion__items_title {
            margin-top: 75px;
            margin-bottom: 45px;
        }
    } 
    .map{
        .container{
            padding: 0;
            margin: 0;

        }
        &__info {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;   
        }
        &__title {
            margin-left: 9%;
        }
        &__info_item {
            position: relative;
            display: flex;
            flex-direction: row;
            text-align: center;
            justify-content: center; 
            width: 100%; 
            margin-left: 22%;
        }
        &_text  {
            font-size: 1.2vw;
            margin-bottom: 10%;
        }
        &__iframe {
            position: absolute;
            margin-top: 20%;
            margin-left: 0;    
        }
    }
    .aftermap {
        
        .slick-list {
            margin-left: 0;
        }
        .slick-slide{  
            margin-left: 15px;
        } 
        &__arows-bg {
            position: absolute;
            z-index: 9;
            display: flex;
            bottom: 100px;
            left: 46.5%;
            width: 35px;
        }
        &__slider {
           padding-bottom: 170px;
        }
   
        .slick-arrow.slick-prev{
            left: 51%; 
        }
        
        .slick-arrow.slick-next{
            left: 47%;
        } 
    
    }
    .vacancies{
        &__button_bg{
            margin-left: 55%;
        }
        &__text{
            min-width: 70%;
            max-width: 95%; 
            margin-left: 4%;
        }
        &__dark_backgound{
            height: 100%;
        }

    }
    .footer {
        &__copyright {
            margin-left: 0;
        }
    }

}
@media (max-width: 768px){
    body {
        h1 {
            font-family: "Halvar Breitschrift";
            font-weight: 400;
            line-height: 27px;
            font-size: 32px;
            line-height: 37px;
        }
        h2 {
            font-family: "Halvar Breitschrift";
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: 37px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
    .container {
        height: auto;
  
    }
    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items : center;
        
    }
    .logo {
        position: absolute;
        max-width: 10% ;
        width: 169px;
        height: 84px;
        left: 30%;
        top: 7%;
        margin: 0 auto;       
    }
    .header__slogan {
        max-width: 100%;
        top: 200px;

    }
    .mission{
        margin-top: 550px;
    
     .container{
        padding:auto;
        margin:auto;
        }
        .finger__pointer {
        display: none;
        }
    }
    .accordion__items{
        .accordion__items_title {
            margin-top: 45px;
            margin-bottom: 0;
        }
        .accordion__items_wrap{
            width: 100%;
            margin-left: 0;
        }
        .container{
            padding-left: 2%;
        }
        .accordion{
            font-size: 2vw;
            height: 45px;
            justify-content: center;
        }
    } 
    .map{
        .container{
            padding: 0;
            margin: 0;

        }
        &__title {
            margin-left: 5%;
        }
        &__info_item {
            margin-left: 18%;
        }
        &_text  {
            font-size: 1.2vw;
            margin-bottom: 10%;
        }
        &__iframe {
            position: absolute;
            margin-top: 25%;
            margin-left: 0;    
        }
    }
    .aftermap {
        .slick-slide{  
            margin-left: 15px;
        } 
        &__arows-bg {
            bottom: 100px;
            left: 44%;
            width: 35px;
        }
        &__slider {
           padding-bottom: 170px;
        }
        .slick-arrow.slick-prev{
            left: 50%; 
        }
        
        .slick-arrow.slick-next{
            left: 45%;
        }    
    }
    .vacancies {
        .container{
            background-color: #17212B;
        }
        &__text {
            text-align: center;
            padding-left: 5%;
        }
        &__form_wrapper {
            display: flex;
            flex-direction: column;
    
        }
        &__form_img {
            width: 100%;
            margin-bottom: 110px;
        }
        form{
            width: 80%;
            padding-bottom: 120px;
        }
        &__button_bg {
            margin-top: 50px;
            margin-left: 0;
        }
        &__submit_img {
            position: absolute;
            z-index: 9;
            width: 130px;
            height: 41px;
            left: 0;
        }
    }
    .contacts {

        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        &__img {
            order: -1;
            width: 100%;
            height: auto;
            margin: 0 3%;
        }
        &__info {
            margin-top: 30px;
            font-weight: bold;
        }
        &__title {
            font-weight: bold;
        }
        &__info_text {
            font-size: 16px;
        }
    }   

}
@media (max-width: 580px) {
    body {
        h1 {
            font-family: "Halvar Breitschrift";
            font-weight: 300;
            line-height: 30px;
            font-size: 24px;
        }
        h2 {
            font-family: "Halvar Breitschrift";
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 27px;
            text-align: left;

        }
    }
    .logo {
        display: none;
    }
    &__slogan {
        display: block;
        max-width: 80%;
        margin-top: 30px; 
    }
    .mission {
        margin-top: 480px;
        &__slogan {
            max-width: 80%;
            margin-bottom: 30px;
            margin-right: 13%;
    
        }
        &__slogan-text{
            font-size: 12px;
        } 
    }
    .accordion__items{
        .accordion__items_title {
            margin-top: 45px;
            margin-bottom: 0;
        }
        .accordion__items_wrap{
            width: 100%;
            margin-left: 0;
        }
        .container{
            padding-left: 2%;
        }
        .accordion{
            font-size: 3vw;
            height: 45px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    } 
    .map{
        .container{
            padding: 0;
            margin: 0;

        }
        &__title {
            margin-left: 5%;
        }
        &__info_item {
            margin-left: 8%;
        }
        &_text  {
            font-size: 1.2vw;
            margin-bottom: 10%;
        }
        &__iframe {
            position: absolute;
            margin-top: 28%;
            margin-left: 0;    
        }
    }

    .footer {
        &__copyright{
            font-size: 2vw;
        }
    }
}
