@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    position: relative;
    padding: 0 5px;
    top: 23px;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    height: 842px;
    background-image: url(../images/iStock-1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .container::before {
        background-size: cover;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #0E0B1A;

        opacity: 0.6;
    }
    .container {
        height: 842px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items : center;
        height : 140px;
    }
    &__btn-menu{
        top: 20px;
        position: relative;
        z-index: 12;
        display: inline;
        background-color: transparent;
        border: none;
        cursor: pointer;
        order: -1;
        span{
            background-color: #ffffff;
            width: 2px;
            height: 30px;
            display: inline-block;
            transform: rotate(14deg);
            margin: 5px 4px;
        }
    }
    &__icons {
        position: relative;
        width: 160px;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly ;
        align-items : center;
        right: 50px;
        top: 20px;
    }
    &__slogan {
        position: absolute;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 100%;
        top: 303px;
        color: #ffff;
        left: 5%;
        word-spacing: normal;
  
    }
    .request {
        position: relative;
        width: 560px;
        height: 64px;
        margin-top: 61px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .request__button {
        border: none;
        margin-top: 5px;
        width: 250px;
        color: #fff;
        justify-content: center;
        font-family: "Halvar Breitschrift";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0.1em;
        text-align: left;
        text-transform: uppercase;
        margin-left: 10px;
        margin-top: 10px;
        padding: 0;
        cursor: pointer;

        
    }
    .request__img {
        position: absolute;
        z-index: 1;
        max-width: 100%;
        max-height: 100%;
        width: 180px;
        height: 42px;
    }
  
}
.header__languages {
    position: relative;
    height: 19px;
    background-color: transparent;
    font-family: "Halvar Breitschrift";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    left: 1px;
    span{
        position: absolute;
        background-color: #9C9C9B;
        width: 1px;
        height: 16px;
        left: 30px;
    }
}
.active {
    color:#E53323 !important;
}
.header__phone {
    position: relative;
    width: 18px;
    height: 18px;
    cursor: pointer;
    right: 0;
    left: 10px;
    }
.header__mail {
    position: relative;
    width: 18px;
    height: 18px;
    cursor: pointer;
    left: 5px;
}

.logo {
        position: absolute;
        width: 169px;
        height: 84px;
        left: 46%;
        top: 20px;
        margin: 0 auto;
    }
.top{

    .container {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: end;
        z-index: 10;
        top: 784px;
        margin-left: 150px;
        width: 89.8%;
    }
    .slick-slider {
        max-width: 95%;
        width: 1240px;
        height: auto;
    
    }
    &__slider-img {
        width: 480px;       
        height: auto;   
        object-fit: contain;
        margin-left: 10px;
    }
    &__slider-item{   
        overflow-x: hidden;
        height: auto;
        width: auto;


    }
    &__slider-info {
        justify-content: center;
        text-align: left;
        width: 86%;
        height: 120px;
        position: relative;
        background-color: #ffffff;
        z-index: 11;
        bottom: 160px;
        left: 12%;
    }
    &__slider-title{

        height: auto;
        color:#17212B;
        font-weight: 800;
        font-size: 2.2vw;
        line-height: 37px;
        margin-left: 40px;
        font-style: normal;
        justify-content: center;

    }
}
.mission {
    margin-top: 724px;
    width: 100%;
    position: relative;

    .container{
        padding-left: 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: end;
        text-align: right;
    }
    &__title {
        font-size: 4vw;
        color: #17212B;
        margin-right: 36%;

    }
    &__slogan {
        position: relative;
        text-align: right;
        max-width: 35%;
        margin-bottom: 40px;
        margin-right: 13%;

    }
    &__slogan-text {
        font-weight: 700;
        font-style: normal;
        font-size: 1.1vw;
        line-height: 18px;
        color: #17212B;
        word-spacing: 10%;
    }
    &__slider {
        position: relative;
        padding: 0;
        right: 0%;
        left: 7.7%;
   
    } 

    .slick-slider{
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: end;
        min-width: 0;
        max-width: 100%;
        margin-left: 20%;
        
    } 

    .slick-track{
        display: flex;
        align-items: flex-end;
    }  
    .slick-arrow{
        position: absolute;
        left: 71%;
        top: 58%; 
        margin: -15px 0 0 0; 
        z-index: 2; 
        font-size: 0; 
        width: 183px;
        height: 183px; 
        border-radius: 50%;
        border-color: #17212B;
   
      }
    .slick-arrow.slick-prev{
        right: 0; 
        background-position: 0 0; 
    }
    
    .slick-arrow.slick-next{
        right: 0; 
        background: url('../images/backgroundArrowsSlider.svg') 0 0 / 100% no-repeat;
        background-position: center;
        background-size: 88%;
    } 
    .finger__pointer {
        position: absolute;
        z-index: 15;
        left: 90%;
        top: 82%;
    }
    &__slider-img{
        max-width: 100%;
        max-height: 710px;
        width: 1040px;
        height: auto;
    }

}
.advantages {
    .container{
        padding-left: 5%;
        background-color: #F6F6F6;
        padding-top: 90px;
        padding-bottom: 160px;
    }
    &__title{
        font-family: "Halvar Breitschrift"; 
        height: 100%;
        color: #17212B;
        font-weight: 900;
        font-size: 4vw;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 50px;
        justify-content: space-evenly; 
    }
    &__item {
        background: url(../images/bg_advantages.svg) ;
        background-repeat: no-repeat;
        background-size: 8%;
        width: 400px;
        height: 100%;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-left: 50px;
    }
    &__item-title {
        font-family: "Halvar Breitschrift";
        font-size: 16px;
        line-height: 18px;
        font-weight: 600;
        color: #2D363F;
        font-style: normal;
        text-transform: none;
        text-align: start;
        padding-top: 12px;

    }
    .pomaranch__numbers {
        font-size: 60px;
        font-weight: 400;
        color: transparent;    
        -webkit-background-clip: text;
        background-clip: text;
        background-image: linear-gradient(to right, #E53323, #F29100);
   
    }

    &__item-text {
        font-family: "Halvar Breitschrift";
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        color: #2D363F;
        width: 65%;
        text-transform: none;
        margin-top: 26px;
    }
    .round-security {
        font-family: "Halvar Breitschrift";
        font-size: 18px;
        font-weight: 800;
        line-height: 20px;
        color: #2D363F;
        width: 65%;
        text-transform: none;
    }
}
.whywe {
    margin: 0;
    position: relative;
    display: flex;
 
   .container {
       position: relative;
        background-color: #17212B;
        display: flex;
        height: 520px;
        margin: auto;
}
    &__info {
        margin-right: 8%;
        margin-left: 7%;
        color: #fff;
        text-transform: none;
         width: 37%;
         height: 100%;

    }
    &__title {
        margin-top: 85px;
        font-family: "Halvar Breitschrift";
        font-size: 4vw;
        font-weight: 600;
        line-height: 37px;
        text-transform: uppercase;
    }
    &__info_text  {
        display: flex;
        font-family: "Halvar Breitschrift";
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        margin-top: 26px;
    }
   
    &__slider {
        position: absolute;
        top: -52px;
        left: 58%;

    }
    &__slider-item {
        padding: 0;
    }
    .slick-arrow{
        position: absolute;
        top: 78%; 
        margin: -15px 100px 0 0; 
        z-index: 2; 
        font-size: 0; 
        width: 183px; 
        height: 183px;
        border-radius: 50%;
        border-color: #17212B;
      }
    .slick-arrow.slick-prev{
        right: 0; 
        background-position: 0 0; 
    }
    
    .slick-arrow.slick-next{
        right: 0;
        background: url('../images/backgroundArrowsSlider.svg') 0 0 / 100% no-repeat;
        background-position: center;
        background-size: 85%;
    } 
    &__slider-img {
        max-width: 100%;
        max-height: 500px;
        width: 360px;
        height: auto;

    }

    .slick-slider{

        max-width: 640px;
    }
    .slick-track{
        display: flex;
        align-items: flex-end;       
    }  
    .finger__pointer {
        position: absolute;
        z-index: 15;
        left: 87%;
        top: 88%;
    
    }
}
.whatinterestsyou {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   .container {
     background-color: #17212B;
    background-image: none;
}
 
    &__wrapper_video {
        display: table;
        width: auto;
        position: relative;
        width: 100%;
    }
    .video {
        width: 100%;
    }
    .playpause {
        background-image:url("../images/button_play.png");
        background-repeat:no-repeat;
        width:15%;
        height:15%;
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        margin:auto;
        background-size:contain;
        background-position: center;
    }  

}
.dropdown {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
   .container {
    background-color: #17212B;
    height: 100%;
}
    &__title {
        margin-top: 130px;
        font-family: "Halvar Breitschrift";
        font-size: 4vw;
        font-weight: 900;
        line-height: 74px;
        text-transform: uppercase;
        color: #fff;
        margin-left: 5%; 
        height: 100%;
    }
    .accordeon .active {
        color: #fff;
      }
    .accordeon dd {
          display: none;
          transform: skewX(30deg);
        }
    .accordeon dt {
            cursor: pointer;
            height: 18px;
            transform: skewX(30deg);
            margin-bottom: 12px;
            margin-top: 12px;

           }
    .accordeon dt:after {
            content: '\002B'; 
            color: #fff;
            font-size: 18px;
            margin-left: 95%;

          }
    .accordeon dl {
            border: 1px solid #C4C4C4;
            border-left: none;
            border-top: none;
            transform: skew(-30deg);
            
          }   
          
    .active:after {
            content: "\2212"; 
            font-size: 18px;
            margin-left: 95%;
          }
    .accordeon {
        color: #fff;
        font-family: "Halvar Breitschrift";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        width: 73%;
        margin-left: 12%;
        margin-top: 40px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        
    }
    
  
}
.map {
    max-width: 100%;
    position: relative;
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 840px;

    }
    &__info {
        display: flex;

        flex-direction: row;
        flex-wrap: nowrap;
        margin-top: 9.5%;
        text-align: center;
        max-width: 1440px;
        width: 100%;

    }
    &__info_item {
        position: relative;
        display: flex;
        flex-direction: row;
        max-width: 500px;
        justify-content: start;  

    }
    &__title {
        font-family: "Halvar Breitschrift";
        font-size: 4vw;
        font-weight: 900;
        line-height: 74px;
        text-transform: uppercase;
        color: #17212B;
        margin-left: 3.5%;
        margin-right: 3.5%;
        letter-spacing: 0.1px ; 
        max-width: 740px;
    }
    &__img {
        position: absolute;
        left: 2%;
        padding: 0;
        margin: 0;
        width: 50px;
        height: 58px;
        object-fit: contain;
        margin: 5px;
    }
    &__text {
        padding: 0;
        margin: 0;
        font-size: 15px;
        line-height: 30px;
        font-style: normal;
        font-weight: 400;
        height: 120px;
        color: #2D363F;
        margin-left: 2.5%;
        margin-right: 0;
        padding-right: 0;

    }
    &__iframe {
        position: absolute;
        margin-top: 11.5%;
        margin-left: 10.4%;
        max-width: 100%;
        min-width: none;

    }
    &__bottom_backgound {
        position: absolute;
        z-index: -3;
        width: 100%;
        height: 240px;
        background-color: #17212B;
        margin-top: 600px;
    }

}
.aftermap {
    .container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: end;
        height: 628px; 
        background-color: #17212B;
    }
    &__slider {
        width: 100%;
        position: relative;
        padding: 0;
    }
    &__slider-item {
        padding: 0;
    }
 
    .slick-list {
        margin-left: 13%;
        overflow: hidden;    
    }     
    
  .slider__item img{
    max-width: 100%;
    max-height: 468px;
    width: 700px;
    height: 468px;
    padding: 0;
    margin: 0;
   }

    .slick-arrow{
        position: absolute;
        bottom: 100px;
        margin: -15px 0 0 0; 
        z-index: 2;
        font-size: 0; 
        width: 30px; 
        height: 30px; 

    }
    
    .slick-slider{
        max-width: 100% ;
        width: 100%;
        left: 10%;
    }
    .slick-track{
        display: flex;
        flex-direction: row;
        justify-content: end; 
    }  

}
.vacancies {
    &__gray_backgound {
        background-color: #F6F6F6;
        position: absolute;
        z-index: -10;
        width: 45%;
        height: 230px;
        margin-top: 700px;
        margin-left: 48.5%;
    }

    .container {
        height: 864px;
        position: relative;

    }
    &__top {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-right: 5%;
    }
    &__title {
        width: 840px;
        font-family: "Halvar Breitschrift";
        font-size: 4vw;
        font-weight: 900;
        line-height: 74px;
        text-transform: uppercase;
        color: #fff;
        margin-left: 5%; 
        height: 100%;
    }
    &__link {
        margin-top: 10px;
    }
    &__text {
        margin-top: 26px;
        padding-right: 5%;
        margin-left: 50%;
        font-family: "Halvar Breitschrift"; 
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 26px;
        text-align: right;
        color: #fff;
        width: 52%;
        text-transform: none;
        margin-bottom: 40px;   
    }
    &__big_latter {
        text-transform: uppercase;
    }
    &__form_wrapper {
        display: flex;

    }
    &__form_img {
        width: 58%;
        max-height: 540px;
        display: inline-block;
        padding: 0;
        margin: 0;
    }
    form {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        color:#fff;
        width: 32.5%;

    }
    &__form_title {
        font-family: "Halvar Breitschrift";
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: 37px;
        letter-spacing: 0em;
        text-align: left;
        width: 60%;
    }
    input {
        width: 100%;
        color: #fff;
        border: none;
        padding-top: 10px;
        background-color: #17212B;
        border-bottom:1px solid #C4C4C4; 

    }
    input ::placeholder {
        font-family: "Halvar Breitschrift";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;  
        color: #fff;    
    }
   
    &__form_input {
        color: #fff;
    }   
    &__dark_backgound {
        background-color: #17212B;
        position: absolute;
        z-index: -3;
        width: 100%;
        height: 730px;
    }
    &__button_bg {
        position: relative;
        width: 160px;
        height: 44px;
        margin-top: 61px;
        margin-left: 68%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    
    }
    &__button {
        border: none;
        margin-top: 5px;
        width: 150px;
        color: #fff;
        background: #17212B;
        font-family: "Halvar Breitschrift";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0.1em;
        text-align: left;
        text-transform: uppercase;
        margin-left: 10px;
        padding: 0;
        cursor: pointer;
    }
    button {
        height: 30px;
    }
    &__submit_img {
        position: absolute;
        z-index: -1;
        width: 130px;
        height: 41px;

    }
   .form-group{
       width: 40%;  
       padding:0;
       margin-top:15px;
    }
   .add__file{
       position:absolute;
       top:0px;
       cursor:pointer; 
       opacity:0; 
       filter:alpha(opacity=0);
        -ms-filter:"alpha(opacity=0)"; 
        -khtml-opacity:0;
         -moz-opacity:0; 
        }
   .label{
       display:flex;
        cursor:pointer;
        text-align:left; 
        justify-content: left;
    }

   .label .file__title{
       padding-left: 11px;  
        color:#fff; 
        font-family: "Halvar Breitschrift";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        text-transform: lowercase;
    }
}

.contacts {
    display: flex;
    flex-direction: row;
    padding-top: 62px;
    .container {
        display: flex;
        justify-content: end;
        padding-left: 6%;
        background-image: none;
    }
    &__info {
        width: 506px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 36px;
    }
    &__info_text {
        margin: 0 0 14px;
        font-family: "Halvar Breitschrift";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #2D363F;
        padding-left: 36px;       
    }
    &__title {
        width: 480px;
        size: 4vw;
        display: block;
        margin-bottom: 26px;
    }
    &__img {
        max-width: 750px;
        width: 59%;
        max-height: 540px;
        display: inline-block;
    }
    &__phone {
        margin: 14px 0;
        background-image: url("../images/contacts_phone.svg");
        background-repeat: no-repeat;

    }
    &__mail {
        margin: 14px 0;
        background-image: url("../images/contacts_mail.svg");
        background-repeat: no-repeat;
    }
    &__social {
        margin: 14px 0;
        background-image: url("../images/contacts_social.svg");
        background-repeat: no-repeat;
    }
    &__time {
        margin: 14px 0;
        background-image: url("../images/contacts_time.svg");
        background-repeat: no-repeat;
    }
    &__phone,
    &__mail,
    &__social,
    &__time {
        font-family: "Halvar Breitschrift";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #2D363F;
        padding-left: 36px;
        box-sizing: border-box;
        
    }

}
.footer {
    position: relative;
    max-width: 1300px;
    width: 100%;
    display: inline;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    .container {
        background-color: #17212B;
        background-image: none;
        height: 140px;
    }
    &__copyright {
        width: 338px;
        height: 20px;
        color:#ffffff;
        margin-left: 65px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-top: 61px;

    }
    &__logo {
        height: 36px;
        margin-left: 76%;
        margin-top: -40px;
        padding: 0;
    }
}

@import 'media';